#include <winver.h>
#include "version.h"

//
// Version Information resources
//
//LANGUAGE LANG_USER_DEFAULT, SUBLANG_NEUTRAL
1 VERSIONINFO
	FILEVERSION RC_FILEVERSION
	PRODUCTVERSION RC_FILEVERSION
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004E4"
		BEGIN
			VALUE "CompanyName", "Andrew Grechkin"
			VALUE "FileVersion", RC_FILEVERSION_STRING
			VALUE "FileDescription", "Background Copy Indicator"
			VALUE "InternalName", "bci.exe"
			VALUE "LegalCopyright", "GNU GPL (2005) WhiteDragon; (2009-2010) DrKnS, Std, John Doe, Andrew Grechkin"
			VALUE "ProductName", "Background Copy Indicator"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0, 0x4e4
	END
END
